# Sanity
PUBLIC_SANITY_STUDIO_DATASET=
PUBLIC_SANITY_STUDIO_PROJECT_ID=1wtf7iqx
SANITY_TOKEN=

# Medusa
MEDUSA_BACKEND_URL=
MEDUSA_PUBLISHABLE_KEY=
SEARCH_URL=http://localhost:3001
SITE_URL=http://localhost:3000

# Authorize.net Accept.js (public client credentials)
PUBLIC_AUTHNET_CLIENT_KEY=
PUBLIC_AUTHNET_API_LOGIN_ID=
PUBLIC_AUTHNET_ENVIRONMENT=sandbox
